<?xml version="1.0" encoding="utf-8"?>
<packages>
	<package id="firefox-beta" prerelease="true"/>
	<package id="GoogleChrome"/>
	<package id="ConEmu"/>
	<package id="dropbox"/>
	<package id="git"/>
	<package id="sourcetree"/>
	<package id="poshgit"/>
	<package id="resharper"/>
</packages>
